[Unit]
Description=Cairo Screentest
#DefaultDependencies=false
DefaultDependencies=no
After=local-fs.target

[Service]
Type=simple
ExecStart=/home/pi/cairo/cairo
Nice=-20

[Install]
#After=basic.target
#WantedBy=multiuser.target
WantedBy=sysinit.target
