[Unit]
After=norns-jack.service

[Service]
Type=simple
User=we
Group=we
LimitRTPRIO=95
LimitMEMLOCK=infinity
ExecStart=/usr/bin/supernova -u 57122 -i 2 -o 2

[Install]
WantedBy=norns.target
