[Unit]
After=norns-matron.service

[Service]
Type=simple
User=we
Group=we
WorkingDirectory=/home/we/maiden
ExecStart=/home/we/maiden/maiden.arm -app ./app/build -data ~/dust -doc ~/norns/doc

[Install]
WantedBy=norns.target
