[Unit]
After=norns-crone.service
After=norns-init.service

[Service]
Type=simple
User=we
Group=we
ExecStart=/home/we/norns/build/ws-wrapper/ws-wrapper /home/we/norns/build/matron/matron ws://*:5555

[Install]
WantedBy=norns.target
