[Unit]
After=sound.target

[Service]
Type=simple
User=we
Group=we
Environment="JACK_NO_AUDIO_RESERVATION=1"
LimitRTPRIO=95
LimitMEMLOCK=infinity
ExecStart=/usr/bin/jackd -R -P 95 -d alsa -d hw:0 -r 48000 -n 3 -p 128 -S -s
ExecStartPost=/bin/sleep 2
TimeoutStopSec=1

[Install]
WantedBy=norns.target
